.code-editor{
    display: flex;
    font-family: 'Fira Code', monospace;
    font-size: 12px;
    height: 80vh;
    border-radius: var(--sc-border-radius);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.code-editor-textarea{
    border: none;
    width: 100%;
    height: 80vh;
    resize: none;
    padding: 10px 20px;
    outline: none;
    caret-color: var(--text);
    color: var(--text);
    background-color: var(--codeBg);
    border-radius: var(--sc-border-radius);
    
}
.code-editor-textarea:focus{
    outline: none;
}

.code-block-window::-webkit-scrollbar {
    width: var(--sc-width);
  }
  
  /* Track */
  .code-block-window::-webkit-scrollbar-track {
    border-radius: var(--sc-border-radius);
  }
   
  /* Handle */
  .code-block-window::-webkit-scrollbar-thumb {
    background-color: var(--sc-track-color);
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  /* Handle on hover */
  .code-block-window::-webkit-scrollbar-thumb:hover {
    background: var(--sc-track-hover-color); 
    transform: scale(1.2);
  }
  