.navbar-custom{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid var(--accent);
}
.nav-title{
    display: flex;
    flex-direction: row;
}
.nav-title>p{
    color: var(--text);
    font-weight: 400;
    font-size: 28px;
    margin: 0;
}
.nav-logo{
    width: 28px;
    height: 28px;
    fill: var(--text);
}
.nav-controls{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:5px;
}
@media(min-width: 381px) and (max-width: 768px){
    /*small screens*/
    .nav-logo{
        width: 16px;
        height: 16px;
        fill: var(--text);
    }
    .nav-title{
        flex-direction: column;
    }
    .nav-title>p{
        font-size: 18px;
    }
}
@media(max-width: 380px){
    .nav-logo{
        width: 16px;
        height: 16px;
        fill: var(--text);
    }
    .nav-title{
        display: none;
    }
}