.codeblock-wrapper{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: var(--sc-border-radius);
}
.codeblock-window{
    font-family: 'Fira Code', monospace !important;
    width: 100%;
    height: 80vh;
    margin: 0 !important;
    border-radius: var(--sc-border-radius);
}
.codeblock-window>code{
    font-family: 'Fira Code', monospace !important;
    font-size: 12px !important;
}

.codeblock-window::-webkit-scrollbar {
    width: var(--sc-width);
    height: var(--sc-width);
  }
  .codeblock-window::-webkit-scrollbar-corner {
    display: none;
  }
  /* Track */
  .codeblock-window::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  .codeblock-window::-webkit-scrollbar-thumb {
    background-color: var(--sc-track-color);
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  /* Handle on hover */
  .codeblock-window::-webkit-scrollbar-thumb:hover {
    background: var(--sc-track-hover-color); 
    transform: scale(1.2);
  }

  .copy-btn{
    position: absolute !important;
    right: calc(var(--sc-width) + 5px);
    top: 5px;
  }